<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="MVS simulation server" />
    <link rel="icon" href="{{ url_for('static', path='/favicon.ico') }}" />
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css"
        integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I="
        crossorigin="anonymous"
    />
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet" />
    <title>MVS SimServer</title>

</head>
<body>
<h1>Welcome to MVS simulation server! </h1>
<div>
    <h2>Test simulation with custom json</h2>
    <h3>Actual multi-vector-simulator's version: {{ mvs_version }}</h3>
    <p>Upload a mvs input json file and click on "Run simulation"</p>
    <form action="/uploadjson/" enctype="multipart/form-data" method="post">
    <!-- the value of `name` property should be used in the uploadjson endpoint function -->
    <input name="json_file" type="file" multiple>
    <input value="Run simulation" type="submit">
    </form>
</div>


<div>
    <h2>More information</h2>
    <ul>
        <li><a href="https://github.com/rl-institut/multi-vector-simulator" target="_blank">More about MVS simulation</a></li>
    </ul>
</div>
{% block body %}{% endblock body%}


</body>
</html>